<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - No Encontrado</title>
</head>
<body>
    <h1>404 - No Encontrado</h1>
    <p><%= mensaje %></p>
    <a href="/pacientes">Volver a la página de inicio</a>
</body>
</html>
