<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error al Crear Paciente</title>
</head>
<body>
    <h1 style="color: red;">Error</h1>
    <p><%= mensaje %></p>
    <button onclick="location.href='/pacientes/nuevo'">Volver a Intentar</button>
    <button onclick="location.href='/pacientes'">Ir al Listado de Pacientes</button>
</body>
</html>
